@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.header-container {
  background-color: #222222;
  padding: 1em; }

section.repo-selected-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid #a1a1a1; }

.repo-commits-container {
  display: flex;
  flex-wrap: wrap;
  max-height: calc(360px + 2em);
  padding: 1em 0;
  overflow-y: auto;
  overflow-x: hidden; }
  .repo-commits-container .repo-commits-item {
    width: calc(25% - 3em);
    height: calc(180px - 1em);
    padding: 1em;
    margin: 0 1em 1em 0;
    background-color: #add8e6;
    box-shadow: 2px 2px 4px 0px #a1a1a1; }
    .repo-commits-container .repo-commits-item h3 {
      font-size: 1.6em;
      color: #ffffff;
      margin: 0 0 0.5em 0; }

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 2em auto;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px 0px #a1a1a1;
  padding: 1em; }
  main section.repo-select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1em 0; }

body {
  background-color: #eeeeee;
  font-family: "Source Sans Pro", sans-serif; }
  body h1 {
    color: #ffffff;
    font-size: 1.6em; }
  body h2 {
    color: #222222;
    font-size: 1.2em; }

