//Colors
$primary-bg-color: #eeeeee;
$secundary-bg-color: #222222;

$primary-font-color: #222222;
$secundary-font-color: #ffffff;
//Colors

//Sizes
$sm-em-1: 0.5em;
$sm-em-2: 1em;

$sm-font-em-1: 1.2em;
$sm-font-em-2: 1.6em;
//Sizes