//Colors
$primary-bg-color: #eeeeee;
$secundary-bg-color: #222222;
$ternary-bg-color: #ffffff;

$primary-font-color: #222222;
$secundary-font-color: #ffffff;

$secundary-color: #a1a1a1;

$card-bg-color: #add8e6;
//Colors

//Sizes
$max-container: 800px;
$sm-em-1: 0.5em;
$sm-em-2: 1em;
$sm-em-3: 1.5em;
$sm-em-4: 2em;
$sm-em-5: 2.5em;
$sm-em-6: 3em;

$width-perc-1: 8.33%;
$width-perc-2: 16.66%;
$width-perc-3: 25%;
$width-perc-4: 33.33%;
$width-perc-5: 41.66%;
$width-perc-6: 50%;
$width-perc-7: 58.33%;
$width-perc-8: 66.66%;
$width-perc-9: 75%;
$width-perc-10: 83.33%;
$width-perc-11: 91.66%;
$width-perc-12: 100%;

$sm-font-em-1: 1.2em;
$sm-font-em-2: 1.6em;
//Sizes

//Box
$box-shadow: 2px 2px 4px 0px $secundary-color;
//Box

// border
$border-px-1: 1px solid $secundary-color;
// border